@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@1&family=Fjalla+One&display=swap");
body {
  background-color: coral;
  font-family: "creepster";
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}
#container {
  background-color: blanchedalmond;
  /* font-family: "fjalla"; */
  /* font-size: 1.5em; */
  font-weight: bold;
  /* display: flex; */
  /* justify-content: center; */
  /* padding-top: 50px; */
  width: 500px;
  height: 40vh;
  margin: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#h2 {
  /* position: relative; */
  /* margin-top: 20px !important; */
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  /* height: 50vh; */
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: blanchedalmond;
}
h2 {
  position: relative;
}
h2::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 5px;
  border-right: 4px solid;
  right: -30px;
  border-color: coral;
  border-radius: 6px;
  top: 0;
  /* transform: translateX(); */
  animation-name: spinnerr;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  transform-style: preserve-3d;
  animation-iteration-count: infinite;
}
@keyframes spinnerr {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}
h2::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 5px;
  border-right: 4px solid;
  border-radius: 6px;
  right: -30px;
  top: 0;
  /* transform: translateX(); */
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  transform-style: preserve-3d;
  animation-iteration-count: infinite;
}
@keyframes spinner {
  from {
    transform: rotateZ(-360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

button {
  /* display: flex; */
  width: 60px;
  height: 20px;
  margin-top: 20px;
  margin-left: 45%;
  color: coral;
  font-weight: bold;
  border-color: coral;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
.myBtn {
  position: relative;
}

.myBtn::before {
  background-color: rgb(223, 96, 49);
  opacity: 0.5;
  content: "";
  height: 19px;
  width: 60px;
  border: 1px solid;
  /* border-radius: 4px; */
  position: absolute;
  left: -63px;
  top: -3px;
  transition: 0.5s;
}
.myBtn:hover::before {
  transform: translateX(60px);
}
.myBtn2::before {
  background-color: rgb(223, 96, 49);
  opacity: 0.5;
  content: "";
  height: 19px;
  width: 60px;
  border: 1px solid;
  /* border-radius: 4px; */
  position: absolute;
  left: 63px;
  top: -3px;
  transition: 0.5s;
}
.myBtn2:hover::before {
  transform: translateX(-63px);
}
#info {
  margin-top: 50px !important;
  display: block;
  padding-top: 20px;
  display: flex;
  color: coral;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
#tm {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-family: "Times New Roman", Times, serif;
}
input {
  /* margin-top: 10px; */
  margin-left: 42%;
  /* transform: translateY(50px); */
  font-weight: bold;
  color: coral;
  width: 80px;
  text-align: center;
}
